<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321140121551-qcom5f7kbv74gk0q05p3l4n2q4phj7gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321140121551-qcom5f7kbv74gk0q05p3l4n2q4phj7gv</string>
	<key>API_KEY</key>
	<string>AIzaSyB6CHCnyrLUHtNx6okwDPqelojIdjd58nM</string>
	<key>GCM_SENDER_ID</key>
	<string>321140121551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stack.Cocktail</string>
	<key>PROJECT_ID</key>
	<string>cocktailapp-91381</string>
	<key>STORAGE_BUCKET</key>
	<string>cocktailapp-91381.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321140121551:ios:0329eb465c10e8d27c7cba</string>
</dict>
</plist>